.calculator {
   width: 400px;
   background-color: thistle;
   margin: 0 auto;
   padding: 10px;
   text-align: center;
   border-radius: 3px;
}

.display {
   margin-bottom: 10px;
}

.input-number {
   
}